<div class="img-wrapper">
    <img class="male" src="assets/male.jpg" alt="">
    <div class="txt-wrap"><h2>HOMEDEV</h2><h3>Професионално монтиране на<br>домофонни системи и контрол на достъпа.</h3></div>
    
</div>
<a style="color: black;font-size: small;" href="https://www.freepik.com/free-photo/front-view-male-builder-uniform-holding-heavy-tool-case-gray-background_17259528.htm#query=electrician&position=12&from_view=search&track=sph" clas="smallC"></a> 

<div class="services">
    <div class="ser-dom">
        <h2 class="sh3">Домофонни системи</h2>
        <ul class="ser-ul">
            <li class="ser-li">Избор на едни от най-добрите дофонни устройства на пазара</li>
            <li class="ser-li">Преценка на даден обект</li>
            <li class="ser-li">Извършване на професионална инсталация от наш екип</li>
            <li class="ser-li">Обучаване на клиента</li>
        </ul>
    </div>
    <div class="ser-kd">
        <h2 class="sh3">Контрол на достъп</h2>
        <ul class="ser-ul">
            <li class="ser-li">Избор на едни от най-добрите устройства за контрол на достъп на пазара</li>
            <li class="ser-li">Преценка на даден обект</li>
            <li class="ser-li">Извършване на професионална инсталация от наш екип</li>
            <li class="ser-li">Обучаване на клиента</li>
        </ul>
        
    </div>

    
</div>
<div class="column-wrapper">
    <div class="columns">
        <ul class="price">
            <li id="white" class="header">10 абоната</li>
            <li class="grey">100 лв. / абонат<div id="small">*примернa ценa</div></li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="grey"><a href="#" routerLink="/kontakt" class="button">Свържи се с нас</a></li>
        </ul>
    </div>
    <div class="columns">
        <ul class="price">
            <li id="blue" class="header">16 абоната</li>
            <li class="grey">72 лв. / абонат<div id="small">*примернa ценa</div></li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="grey"><a href="#" routerLink="/kontakt" class="button">Свържи се с нас</a></li>
        </ul>
    </div>
    <div class="columns">
        <ul class="price">
            <li id="darkblue" class="header">36 абоната</li>
            <li class="grey">60 лв. / абонат<div id="small">*примернa ценa</div></li>
            <li>10GB Storage</li>
            <li>10 Emails</li>
            <li>10 Domains</li>
            <li>1GB Bandwidth</li>
            <li class="grey"><a href="#" routerLink="/kontakt" class="button">Свържи се с нас</a></li>
        </ul>
    </div>
</div>


