* {
    color: black;
    
}

h1 {
    padding-left: 20px;
    font-weight: 500;
}

h2 {
    font-weight: 350;
}

.wrapMid {
    padding-top: 20px;
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.txt {
    font-size: medium;
    font-weight: 400;
    
}

.txt a {
    text-decoration: none;
    
}

.txt a:hover {
    cursor: pointer;
    color: #1976D2;
}

.left .txt{
    padding-left: 3%;
}

.phone img {
    width: 10%;
}

.phone {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#atxt{
    text-decoration: none;
}

#atxt:hover {
    cursor: pointer;
    color: #1976D2;
}

.bigBox {
    width: 30%;
}

.smallBox {
    width: 30%;
}

/* form */
.container {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bigBox h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media only screen and (max-width:420px) {
    .wrapMid {
        flex-direction: column;
        align-items: center;
    }
    .smallBox {
        width: 100%;
        text-align: center;
    }
    .phone {
        justify-content: center;
        
    }
    .phone img {
        width: 15%;
    }
    .bigBox {
        width: 90%;
        margin-top: 50px;
    }
    h1 {
        padding: 0;
    }
}