<p>kontakt works!</p>

<div class="wrapMid">
    <div class="smallBox">
        <h1>Контакти</h1>
        <div class="left">
            <div class="phone"><img src="assets/phony.png" alt=""><h2>Телефон:</h2></div>
            <p class="txt"><a href="tel:+088 XXX XXXX">088 XXX XXXX</a></p>
            <p class="txt"><a href="tel:+088 XXX XXXX">087 XXX XXXX</a></p>
            <p class="txt"><a href="tel:+088 XXX XXXX">089 XXX XXXX</a></p>
        </div>
        <div class="left">
            <div class="phone"><img src="assets/locy.png" alt=""><h2>Местоположение</h2></div>
            <p class="txt">гр. София, ж.к. Свобода, ул. Иван Драганов 23</p>
        </div>
        <div class="left">
            <div class="phone"><img src="assets/maily.png" alt=""><h2>Ел-поща</h2></div>
            <a id="atxt" class="txt" href="mailto:goshoeprase@gmail.com">goshoeprase@gmail.com</a>
        </div>
    </div>
    <div class="bigBox">
        <div class="container">
            <h1>Свържете се с нас</h1>
            <!-- formsubmit -->
            <form action="https://formsubmit.co/645f3961bc810ad74b801967a81d71a4" method="POST">
                <label for="name">Име:</label>
                <input type="text" id="name" name="name" required>
    
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
    
                <label for="name">Относно:</label>
                <input type="text" id="subject" name="subject">

                <label for="message">Съобщение:</label>
                <textarea id="message" name="message" rows="4" required></textarea>
    
                <input type="submit" value="Изпрати">
            </form>
        </div>
    </div>
</div>