<div class="head"><h3>Домофонни системи</h3></div>
<div class="menuWrapper">
    <div class="leftMenu">
        <div class="menu">
            <li class="item" id="profile">
                <a href="#profile" class="btn">Контрол на достъпа</a>
                <div class="smenu">
                    
                </div>
            </li>
            <li class="item" id="message">
                <a routerLink="/pBuy" class="btn"> Продукт 3</a>
                <div class="smenu">
                    
                </div>
            </li>
            <li class="item" id="Settings">
                <a href="#Settings" class="btn"> Продукт 4</a>
                <div class="smenu">
                    
                </div>
            </li>
            <li class="item" id="logout">
                <a href="" class="btn"> Продукт 5</a>

            </li>
        </div>
    </div>
    <div class="rightMenu">
        <div class="smallBox">
            <img src="assets/smol.webp" alt="">
        </div>
        <div class="smallBox">
            <img src="assets/dog.webp" alt="">
        </div>
        <div class="smallBox">
            <img src="assets/domFon.png" alt="">
        </div>
    </div>
</div>
