
<div class="imgCont">
    <img class="imgUnder" src="assets/123.jpg" alt="">
    <div class="boxes-wrap">
      <div class="box-mid">
        <h3>HOMEDEV</h3>
        <h2>Сигурни връзки, контролиран достъп.<br>Вашият дом, Вашата крепост! </h2>
      </div>
      <div class="img-wrap">
        <img src="assets/domFon.png" alt="">
      </div>
    </div>
  </div>
  <div class="thing-container">
    <div class="thing-wrapper">
      <div class="box1">
        <img class="box-img" src="assets/wrench.png">
        <h3>ПРОФЕСИОНАЛИЗЪМ</h3>
        <p>Използваме едни от най-добрите устройства и материали</p>
      </div>
      <div class="box1">
        <img class="box-img" src="assets/clock.png">
        <h3>ЕФИКАСНОСТ</h3>
        <p>Работим за кратки срокове и максимално ефективно</p>
      </div>
      <div class="box1">
        <img class="box-img" src="assets/security.png">
        <h3>СИГУРНОСТ</h3>
        <p>Гарантирано удовлетворение и свършена работа</p>
      </div>
    </div>
  </div>
  <div>
    <div>
  
    </div>
  </div>
  
  <div class="main-wrapper">
    <h1 class="headMain">ДОМОФОННИ СИСТЕМИ</h1>
    <div class="main-in">
      <div class="box-in">
        <img class="in-img" src="assets/nipo1.webp" alt="">
        <p class="hid">Аудиотабло <br>Nippon WL-02NE (1x8)</p>
        <div class="buton-box"><a class="buton" href="">ВИЖ</a></div>
      </div>
      <div class="box-in">
        <img class="in-img" src="assets/dog.webp" alt="">
        <p class="hid">Разширително табло <br>Nippon (2x6)</p>
        <div class="buton-box"><a class="buton" href="">ВИЖ</a></div>
      </div>
      <div class="box-in">
        <img class="in-img" src="assets/domFoni.png" alt="">
        <p class="hid">Домофон <br>Nippon NSB</p>
        <div class="buton-box"><a class="buton" >ВИЖ</a></div>
      </div>
      <div class="box-in">
        <img class="in-img" src="assets/smol.webp" alt="">
        <p class="hid">Аудиотабло <br>Nippon (2x8) - с RFID</p>
        <div class="buton-box"><a class="buton" routerLink="">ВИЖ</a></div>
      </div>
    </div>
    <!-- <div id="spec" class="buton-box"><a class="buton" routerLink="/product-details">ОЩЕ ПРОДУКТИ</a></div> -->
  </div>
  
 
  <div class="image-cont">
    <div class="cont">
      <div class="text"><h3>Монтаж</h3></div>
      <img id="imgc-img" src="assets/camera.jpg" alt="">
      <p class="mont">Осигурете сигурността и удобството на Вашето жилище или бизнес с професионални устройства.<br>Ние предоставяме пълен спектър от услуги – от детайлен анализ на обекта и избор на оборудване, до монтаж, конфигуриране и обучаване на клиента.</p>
      <div id="spec" class="buton-box"><a class="buton" routerLink="/more">НАУЧЕТЕ ПОВЕЧЕ</a></div>
    </div>
    <img id="imgc-img" src="assets/camera.jpg" alt="">
    
  </div>
  
  
 
